.review {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;

  &__wrapper-img img {
    max-width: 100%;
    height: auto;
  }

  &__wrapper-card {
    background-color: #53354a;
  }

  &__item-content {
    color: #ffffff;
    font-family: Cardo;
    font-size: 36px;
    font-style: italic;
    line-height: 42px;
    text-align: left;
  }
}
