.review {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;

  &__img {
    width: 50vw;
    object-fit: cover;
  }

  &__img img {
    max-width: 100%;
    height: auto;
  }

  &__card {
    width: 50vw;

    background-color: #53354a;
  }

  &__item {
    margin: auto;
    margin-left: 75px;
    margin-top: 105px;
  }

  &__item-content {
    display: block;
    width: 500px;
    color: #ffffff;
    font-family: Cardo;
    font-size: 36px;
    font-style: italic;
    line-height: 42px;
    text-align: left;
  }

  &__item-text {
    padding-top: 25px;
    font-family: Raleway;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.slick-track {
  width: 50%;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
  margin-top: 60px;
}

.slick-dots button {
  margin-right: 3px;
  width: 13px;
  height: 13px;
  opacity: 0.2;
  background-color: #ffffff;
  border-radius: 100%;
  font-size: 0;
}
